<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" type="text/css" href="styles.css"/>
    <title>Motivational Quotes API</title>
</head>
<body>
    <h1>Motivational Quotes API</h1>
    <div>
        <form action="/quotes" method="POST">
            <input type="text" placeholder="author" name="author">
            <input type="text" placeholder="quote" name="quote">
            <button type="submit">Submit</button>
          </form>  
                
    </div>
    <p>Please use https://api-motivational-quotes.herokuapp.com/api/random</p>
    <h2> Quotes </h2>

<ul class="quotes">
  <!-- Loop through quotes -->
  <% for(var i = 0; i < quotes.length; i++) {%>
    <li class="quote">
      <!-- Output name from the iterated quote object -->
      <span><%= quotes[i].author %></span>:
      <!-- Output quote from the iterated quote object -->
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
</ul>
<script src="/main.js"></script>
</body>
</html>